.full-height {
    height: 100%;
 
  }
  .box-shadow
 { box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);}
 .Add{
  color: rgb(20, 19, 19);
  background: rgba(211, 105, 119, 0.2);
  
 }

.button-1 {
  background-color: #EA4C89;
  border-radius: 0;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.failure-msg {
  color: rgb(244, 19, 11);
  background-color: #f7bfbf;
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}
.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}