/* 
h1{ color: #0c0808f0; font-family: 'Bitter', serif; font-size: 50px; font-weight: normal; line-height: 54px; margin: 0 0 54px;text-align: center; } */
.box-shadow
{ box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.Absolute-Center {

    display: flex; 
  
    align-items: center;
  
    justify-content: center;
  
    text-align: center; 
  
  }  
  
  .text{
    
    background: rgba(5, 43, 52, 0.2);

    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 66.5px );
    -webkit-backdrop-filter: blur( 18.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    font-weight:200;
    font-family: "Dank Mono", ui-monospace, monospace;
    font-size: 3vmin;
    line-height: 1.1;
    background: linear-gradient(
      to right, 
      hsl(13, 63%, 49%), 
      hsl(204 100% 59%)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.bg
{
    background-color: #222;
}
/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.partylogo{
    height:70px;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.outerc{
  display: flex; 
  margin-top:40px;
  background: -webkit-linear-gradient(90deg, #181819f0 80%, #181819f0 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #181819f0 80%, #181819f0 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #181819f0 80%, #181819f0 90%); /* IE80 */
  background:      -o-linear-gradient(90deg, #181819f0 80%, #181819f0 90%); /* Opera 11.80+ */
  background:         linear-gradient(90deg, #181819f0 80%, #181819f0 90%); /* W3C */
        
  align-items: center;
  flex-direction: column;
  justify-content: center;

  text-align: center; 
}

.card{
    display:flex;
   background-color: #f1e7b905;
   /* #72e0b4;  */
   /* //9a9696 */
   width: fit-content;
   height: fit-content;
   margin: 20px;
   border: 1px solid rgba(255, 255, 255, 0.222);
   border-radius:.7rem ;
    
}
.card:nth-child(even) {
    background-color: rgba(160, 141, 147, 0.156);
  }

.topflex{
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
.ps{

    font-weight: 700;
    
}
.flex{
    display: flex;
    flex-direction: row;
}
.img{
    align-items: right;
    margin-left: 20px;
    margin-bottom: 10px;
}
.container {
    position: relative;
    font-family: sans-serif;

  }
  
  .container::before, .container::after {
    content: "";
    background-color: #e1903f4c;
    position: absolute;
  }
  
  .container::before {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    top: 30%;
    right: 7%;
  }
  
  .container::after {
    content: "";
    position: absolute;
    height: 3rem;
    top: 8%;
    right: 5%;
    border: 1px solid;
  }
  
  .container .box {
    width: 12.875em;
    height: 19.875em;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: .7rem;
    transition: all ease .3s;
  }
  
  .container .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .container .box .title {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .1em
  }
  
  .container .box div strong {
    display: block;
    margin-bottom: .5rem;
  }
  
  .container .box div p {
    margin: 0;
    font-size: .9em;
    font-weight: 300;
    letter-spacing: .1em;
  }
  
  .container .box div span {
    font-size: .7rem;
    font-weight: 300;
  }
  
  .container .box div span:nth-child(3) {
    font-weight: 500;
    margin-right: .2rem;
  }
  
  .container .box:hover {
    box-shadow: 0px 0px 20px 1px #ffbb763f;
    border: 1px solid rgba(255, 255, 255, 0.454);
  }
  .box{
    color: hsla(204, 39%, 72%, 0.707);
  }