.full-height {
    height: 100%;
 
  }
  .box-shadow
 { box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);}
 .Add{
  color: rgb(20, 19, 19);
  background: rgba(211, 105, 119, 0.2);
  
 }
 .button-249 {
  background: #c35229;
  border: 1px solid #e35632;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-249:hover,
.button-249:active {
  color: #eff0f3;
  background: initial;
  background-position: 0 0;
  opacity: .9;
  border:2.7px solid #e35632;
}


.ad{
  display: flex; 
  margin-top:40px;
  background: -webkit-linear-gradient(90deg, #89e1c4 10%, #514A9D 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #89e1c4 10%, #514A9D 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #89e1c4 10%, #514A9D 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #89e1c4 10%, #514A9D 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #89e1c4 10%, #514A9D 90%); /* W3C */
        
  align-items: center;
  flex-direction: column;
  justify-content: center;

  text-align: center; 
}
.lato{font-family: 'Lato'}
.gamma {
  font-size: 2.5rem; /* 36 / 18 = 2 */
  margin-bottom: 0.825rem;
}
.thin{font-weight: 500;}
.ls-xlarge{letter-spacing: 12px;}

.uppercase{text-transform: uppercase;}

.button-1 {
  background-color: #EA4C89;
  border-radius: 0;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.failure-msg {
  color: rgb(244, 19, 11);
  background-color: #f7bfbf;
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}
.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}