/* 
html {
    --u:  2vmin;
	--c1: #c59b8b;
    --c2: #a57462;
    --c3: #795548;
    --c4: #523b33;
    --gp: 50%/ calc(var(--u) * 10) calc(var(--u) * 10);
    height: 100vh;
	background:
		conic-gradient(from 119deg at 56% 76%, var(--c2) 0 66deg, var(--c4) 0 128deg, #fff0 0 360deg) var(--gp),  		
		conic-gradient(from 186deg at 8% 25.25%, var(--c4) 0 65deg, var(--c3) 0 157deg, #fff0 0 360deg) var(--gp),
		conic-gradient(from -45deg at 50% 50%, var(--c4) 0 49.5deg, var(--c2) 0 90deg, var(--c3) 0 111.25deg, var(--c4) 0 180.1deg, #fff0 0 212deg, var(--c3) 0 270deg, var(--c2) 0 345.5deg,  #fff0 0 360deg) var(--gp), 
		var(--c1);
}/* html */
/* { */
    /* --s: 150px; control the size */
    
    /* --_g: #0000 90deg,#177461 0;
    background:
      conic-gradient(from 116.56deg at calc(100%/3) 0   ,var(--_g)),
      conic-gradient(from -63.44deg at calc(200%/3) 100%,var(--_g))
      #2FB8AC;
    background-size: var(--s) var(--s); */
  /* } */ 
/* html {
    --s: 82px; /* control the size */
    /* --c1: #b4ba5d;
    --c2: #132e37;
    --c3: #1a1618; */
    
    /* --_g: var(--c3) 0 120deg,#0000 0;
    background:
      conic-gradient(from -60deg at 50% calc(100%/3),var(--_g)),
      conic-gradient(from 120deg at 50% calc(200%/3),var(--_g)),
      conic-gradient(from  60deg at calc(200%/3),var(--c3) 60deg,var(--c2) 0 120deg,#0000 0),
      conic-gradient(from 180deg at calc(100%/3),var(--c1) 60deg,var(--_g)),
      linear-gradient(90deg,var(--c1)   calc(100%/6),var(--c2) 0 50%,
                            var(--c1) 0 calc(500%/6),var(--c2) 0);
    background-size: calc(1.732*var(--s)) var(--s); */
  /* } */ 
